<!doctype html>
<!--html5-->

<html>
    <head>
        <link rel="stylesheet" href="./css/04stylesheet.css"
    </head>
    <body>
        <h1>Welcome to My Homepage</h1>
        <p>Use the menu to select different Stylesheets</p>
        <ul>
            <li><a href="/stylesheet01">Stylesheet 1</a></li>
            <li><a href="/stylesheet02">Stylesheet 2</a></li>
            <li><a href="/stylesheet03">Stylesheet 3</a></li>
            <li><a href="/stylesheet04">Stylesheet 4</a></li>
            <li><a href="/nostylesheet">No Stylesheet</a></li>
        </ul>
        <h1>Same Page Different Stylesheets</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        <p><a href="/stylesheet01">Stylesheet 1</a>, 
            <a href="/stylesheet02">Stylesheet 2</a>, 
            <a href="/stylesheet03">Stylesheet 3</a>, 
            <a href="/stylesheet04">Stylesheet 4</a>,
            <a href="/nostylesheet">No Stylesheet</a>
        </p>
        
        <h2>Table</h2>
        <table id="customers" border=1>
            <tbody>
                <tr>
                    <th>Company</th>
                    <th>Contact</th>
                    <th>Country</th>
                </tr>
                <tr>
                    <td>Alfreds Futterkiste</td>
                    <td>Maria Anders</td>
                    <td>Germany</td>
                </tr>
                <tr class="alt">
                    <td>Berglunds snabbköp</td>
                    <td>Christina Berglund</td>
                    <td>Sweden</td>
                </tr>
                <tr>
                    <td>Centro comercial Moctezuma</td>
                    <td>Francisco Chang</td>
                    <td>Mexico</td>
                </tr>
                <tr class="alt">
                    <td>Ernst Handel</td>
                    <td>Roland Mendel</td>
                    <td>Austria</td>
                </tr>
                <tr>
                    <td>Island Trading</td>
                    <td>Helen Bennett</td>
                    <td>UK</td>
                </tr>
                <tr class="alt">
                    <td>Königlich Essen</td>
                    <td>Philip Cramer</td>
                    <td>Germany</td>
                </tr>
                <tr>
                    <td>Laughing Bacchus Winecellars</td>
                    <td>Yoshi Tannamuri</td>
                    <td>Canada</td>
                </tr>
                <tr class="alt">
                    <td>Magazzini Alimentari Riuniti</td>
                    <td>Giovanni Rovelli</td>
                    <td>Italy</td>
                </tr>
            </tbody>
        </table>
        <div>
            <h2>Side-Bar</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis orci magna. Aliquam vel ex quis turpis consequat pellentesque. Nullam dui nisl, efficitur eu mi non, egestas tempor tortor. Nullam mollis quam eget lacinia tincidunt. Suspendisse tincidunt felis metus, a pharetra nibh maximus nec. Nulla sodales vel purus ut elementum. Maecenas in consectetur augue, congue pharetra sem.</p>
        </div>    

        <div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis orci magna. Aliquam vel ex quis turpis consequat pellentesque. Nullam dui nisl, efficitur eu mi non, egestas tempor tortor. Nullam mollis quam eget lacinia tincidunt. Suspendisse tincidunt felis metus, a pharetra nibh maximus nec. Nulla sodales vel purus ut elementum. Maecenas in consectetur augue, congue pharetra sem.

Ut enim ipsum, cursus vitae nunc a, vestibulum viverra tortor. Mauris vel nisi nisl. Aliquam non lacus sit amet ante gravida consectetur. Mauris at arcu eget nibh aliquet tincidunt tincidunt in nunc. Pellentesque vel sem suscipit, venenatis ex ullamcorper, hendrerit magna. Pellentesque in ante faucibus, facilisis risus vitae, ultricies justo. Etiam dictum dignissim mi, quis pulvinar leo gravida vitae. Integer lacinia dignissim tristique. Suspendisse ante nisl, sollicitudin ut consequat sit amet, sollicitudin ut turpis. Nullam sed aliquet arcu, quis mattis sapien. Donec vitae odio at felis dictum commodo eu tempus massa.

Duis fermentum vitae diam ut lobortis. In hac habitasse platea dictumst. Fusce accumsan pharetra mi quis maximus. Proin tempor, libero quis accumsan semper, diam sapien convallis ex, nec luctus ante felis in eros. Praesent malesuada accumsan dolor, a dapibus odio faucibus et. Nulla nec mattis lacus, ut dignissim mi. Donec vestibulum venenatis orci et scelerisque. Nam ante nulla, consectetur at enim sed, aliquam tincidunt libero. Suspendisse purus nisl, feugiat non arcu sit amet, finibus molestie ipsum. In eu libero eget est sollicitudin viverra. Fusce non tincidunt mi, vel aliquam libero. Suspendisse quam ante, venenatis ac sagittis sit amet, fermentum a dui.
        </div>

    </body>

</html>